body {
        background-color: #f6f0d7;
      }
      .btn {
        background-color: #89986d;
      }
      .btn:hover {
        background-color: #e9762b;
      }
      .lead {
        color: #8a8635;
        font-size: 1.5rem;
        font-family: sans-serif;
      }
      h1 {
        color: #e9762b;
        font-weight: bold;
        font-size: 3rem;
        font-family: cursive;
      }
      h2 {
        color: black;
        font-weight: bold;
        font-size: 3rem;
        font-family: cursive;
      }
      .edu {
        border: #0d4715 solid 5px;
        width: fit-content;
        border-radius: 10%;
      }
      .edu > img {
        float: left;
        border-radius: 50%;
        border: #e9762b solid;
      }
      .skill {
        border-radius: 50%;
        width: fit-content;
        padding: 2rem;
        margin: 1rem;
        background-color: #89986d;
      }
      #skills p {
        color: black;
        font-weight: 700;
      }
      .hobby {
        background-color: #89986d;
        border: black solid;
        margin: 1rem;
        padding: 1rem;
        border-radius: 10%;
      }
      .hobby img {
        border: black solid 5px;
        height: 200px;
        width: 200px;
      }
      h3 {
        padding-top: 1.5rem;
      }
      .first-slide {
        border: black solid;
      }
      .first-slide img {
        width: 100%;
      }
      .featurette-heading:hover {
        color: #e9762b;
      }
      .no-underline {
        text-decoration: none;
      }
      .contact svg {
        color:#e9762b;
      }
      #footer p {
        color: #8a8635;
      }
      #footer span {
        color: #e9762b;
      }